/* App.css */

/* General Styles */
body {
  font-family: 'Roboto', sans-serif; /* Updated font */
  margin: 0;
  padding: 0;
  background-color: #201414;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.card{
  background-color: #b8d4b8;
}
/* Quiz Styles */
.Question {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Added more box shadow */
  padding: 30px;
  text-align: center;
}

.Question .OptionButton.correct {
  background-color: #61C957 !important;
  border-color: #61C957;
  color: #fff;
}

.Question .OptionButton.wrong {
  background-color: #FF5B5B !important;
  border-color: #FF5B5B;
  color: #fff;
}

h1 {
  color: #333; /* Changed color */
  margin-bottom: 20px;
}

h2 {
  color: #333; /* Changed color */
  margin-bottom: 20px;
  text-transform:uppercase;
}

.Options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
  list-style: none;
}

.OptionButton {
  background-color: #b8d4b8;
  /* border: 2px solid #ccc; */
  /* border-radius: 12px; */
  color: #201414;
  cursor: pointer;
  font-family: cursive;
  font-size: 16px;
  margin: 10px;
  padding: 10px 20px;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.OptionButton:hover {
  background-color: #e0e0e0;
}

.OptionButton.selected {
  background-color: #201414;
  border-color: #201414;
  color: #fff;
}

.Result {
  color: #555;
  font-size: 18px;
  margin: 10px 0;
}

.Progress {
  color: #777;
  font-size: 16px;
  margin: 10px 0;
}

.NextButton {
  background-color: #201414 !important;
  border: none;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 12px 24px;
  transition: background-color 0.3s;
}

.NextButton:hover {
  background-color: #42a3db;
}

.Results {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Added more box shadow */
  padding: 30px;
  text-align: center;
}

.Results h2 {
  color: #333;
  margin-bottom: 20px;
}

.Results p {
  color: #555;
  font-size: 18px;
}
